body {
  margin: 0;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
/*Header*/
.main-header {
  margin-bottom: 0px;
}
.main-navigation { 
  color: #000000;
  background-color: #ffffff;
  /*Позиционирование*/
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.main-navigation .site-navigation {
  list-style: none;
  /*Позиционирование*/
  width: 1200px;
  height: 56px;
  padding: 22px 22px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.site-navigation a {
  color: #000000
}
.site-navigation a:hover,
.site-navigation a:focus  {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(225,225,225,0.3);
}
/*Main index*/
.main-image {
  color: grey;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /*Позиционирование*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-image {
  width: 459px;
  height: 353px;
  padding: 61px;
  margin: 0;
}
.poligon-image {
  width: 1200px;
  height: 59px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.city-info {
  background-color: white;
  text-align: center;
}
.city-info b {
  font-size: 21px;
  text-align: center;
}
.city-info p {
  color: #333333;
  font-weight: normal;
}

 /*Причины*/

.reasons {
  padding: 0;
  margin: 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.reasons-blue .reasons-item {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.reasons-item span,
.reasons-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.advantages {
  background-color: white;
  text-align: center;

  width: 1200px;
}
.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.advantages-item p {
  color: #333333;
  line-height: 21px;
  font-weight: normal;
}
.reasons-item .item-grey{
  background-color: #eeeeee;
  text-align: center;
}

  /*Форма поиска*/

.search {
  background-color: white;
  text-align: center;
}
.search b {
  font-size: 30px;
  line-height: 36px;
}
.search p {
  color: #333333;
  line-height: 24px;
}
.button-brown{
  color: white;
  text-transform: uppercase;
  background-color: #766357;
} 
.search .button-brown{
  width: 586px;
  height: 86px; 
  font-size: 21px;
}
.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}
.button-brown:active {
  color:rgba(2555,255,255,0.3);
  background-color: #503e33;
}
.navigation-form .search-form {
  background-color:white;
}
.adults button,
.children button {
  width: 38px;
  height:38px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}
.button-blue {
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
}
.button-blue:hover,
.button-blue:focus{
  background-color: #669ec0;
}
.button-blue:active {
  color: rgba(2555,255,255,0.3);
  background-color: #5496bd;
}
.search-button .button-blue {
  width: 458px;
  height: 58px; 
  font-size: 26px;
}
.content .hotel-search {
  color: white;
  background-color: #82a1c0;
  background-image: url("../img/bg-form.jpg");
  background-position: center;
  background-repeat: no-repeat;  
}
.hotel-search h2{
  font-size: 16px;
  line-height: 21px;
}
.hotel-search label {
  line-height: 21px;
}
.navigation-form {
  background-color: white;
}
.navigation-form .count-form {
  font-size: 21px;
}
.sorting-form ul {
  list-style: none
}
.sorting-form p,
.sorting-form ul {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-form a:not(:first-child) {
color: rgba(0,0,0,0.3);
border-bottom: 3px dashed #81b3d2;
}
.sorting-form a:not(:first-child):hover
.sorting-form a:not(:first-child):focus {
color: #81b3d2;
border-bottom: 3px dashed #81b3d2;
}
.sorting-form a:not(:first-child):active {
  color: black;
}
.sorting-form a:first-child{
  color: #81b3d2;
}
.hotel-info h1{
 font-size: 21px;
}
.hotel-info span{
  color: #333333;
  line-height:21px;
  font-weight: normal; 
}
.hotel-info .button-blue,
.hotel-info .button-brown {
  line-height: 21px;
}
.hotel-rating {
  width: 110px;
  height: 27px; 
  color: #666666;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
}
/*Footer*/
.main-footer {
  background-color: rgba(249,251,246,0.9);
}
.hastag a{
  font-size: 21px;
}
.footer-social ul {
  list-style: none;
}
