
html { 
  box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit; 
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height:auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Header*/
.main-header {
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.main-header .header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}
.main-navigation { 
  color: #000000;
  background-color: #ffffff;
  /*Позиционирование*/
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.main-navigation .site-navigation {
  list-style: none;
  /*Позиционирование*/
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.site-navigation li {
  margin-top: 16px;
  margin-bottom: 18px;
}
.site-navigation li:nth-child(2) {
  margin-right: 240px;
}
.site-navigation a {
  width: 240px;
  
  color: #000000
}
.site-navigation a:hover,
.site-navigation a:focus  {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(225,225,225,0.3);
}

/*Main index*/
.main-image {
  font-size: 0;
  line-height: 0;
  background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-position: bottom -1px left, top center;
  background-repeat: no-repeat; 
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}
.main-image img {
  margin-top: 76px;
  margin-bottom: 79px;
  margin-left: 370px;
  margin-right: 370px;
}
.information {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.city-info {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: white;
  text-align: center;
}
.city-info b { 
  display: block;
  margin-bottom: 30px;
  margin-left: 380px;
  margin-right: 380px;
  font-size: 21px;
  text-align: center;
}
.city-info p {
  color: #333333;
  font-weight: normal;
}

 /*Причины*/

.reasons {
  padding: 0;
  margin: 0 auto;
  margin-top: auto; 
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.reasons-blue .reasons-item {
  margin: auto;
  padding-top: 45px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
  width: 400px;

  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}
.reasons-blue .reasons-image {
  margin: auto;
  padding: 0;
  width: 800px;

  font-size: 0;
  line-height: 0;
}

.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;

  margin-left: 79px;
  margin-right: 79px;
}
.reasons-item .devel-bridge {
  margin: 0 65px;
}
.reasons-item span,
.reasons-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.advantages {
  background-color: white;
  text-align: center;
}
.advantages-item {
  width: 400px;
  padding: 160px 55px 85px 55px;
}
.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto 25px;
  padding: 0;

}
.advantages-item p {
  color: #333333;
  line-height: 21px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}
.reasons-item .item-grey{
  background-color: #eeeeee;
  text-align: center;
  width: 400px;
  padding: 50px 67px 60px 67px;
}

  /*Форма поиска*/

.search {
  background-color: white;
  text-align: center;

  width: 1200px;
  margin: 0 auto;
  padding: 55px 380px 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.search b {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}
.search p {
  color: #333333;
  line-height: 24px;
  margin-bottom: 50px;
}
.button-brown{
  color: white;
  text-transform: uppercase;
  background-color: #766357;
} 
.search .button-brown{
  width: 568px;
  height: 86px; 
  font-size: 21px;
}
.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}
.button-brown:active {
  color:rgba(2555,255,255,0.3);
  background-color: #503e33;
}
.navigation-form {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navigation-form .search-form {
  background-color:white;
  width: 568px;
  position: absolute;
  top: 0;
  left: 316px;
}
.adults button,
.children button {
  width: 38px;
  height:38px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}
.button-blue {
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
}
.button-blue:hover,
.button-blue:focus{
  background-color: #669ec0;
}
.button-blue:active {
  color: rgba(2555,255,255,0.3);
  background-color: #5496bd;
}
.search-button .button-blue {
  width: 458px;
  height: 58px; 
  font-size: 26px;
}
.map {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/*/sedona-hotels/*/
.content .hotel-search {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: white;
  background-color: #82a1c0;
  background-image: url("../img/bg-form.jpg");
  background-position: center;
  background-repeat: no-repeat; 
}
  .hotel-search form{
  padding: 08px 71px 30px 71px;;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.pluses-form,
.type-form,
.price-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hotel-search .pluses-form {
  width: 300px;
  margin-right: 115px;
}
.hotel-search .type-form{
  width: 300px;
}
.hotel-search .price-form {
  width: 300px;
}
.hotel-search h2{
  font-size: 16px;
  line-height: 21px;
}
.hotel-search label {
  line-height: 21px;

  position: relative;
}
.navigation-form-hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.navigation-form-hotels .count-form {
  width: 400px;
  font-size: 21px;
}
.sorting-form {
  width: 400px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
.sorting-form ul{
  margin: 0 auto;
  padding: 0;
  width: 100px;
  display: flex;
  justify-content: center;
}
.sorting-form ul {
  list-style: none
}
.sorting-form p,
.sorting-form ul {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-form a:not(:first-child) {
color: rgba(0,0,0,0.3);
border-bottom: 3px dashed #81b3d2;
}
.sorting-form a:not(:first-child):hover
.sorting-form a:not(:first-child):focus {
color: #81b3d2;
border-bottom: 3px dashed #81b3d2;
}
.sorting-form a:not(:first-child):active {
  color: black;
}
.sorting-form a:first-child{
  color: #81b3d2;
}
.rating-form {
  width:400px;
  padding: 0
  margin: 0 auto;
}
.form-button {
  width: 133px;
  height: 32px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: 2px solid white;
  background: transparent;
  background-color: transparent;

  position: absolute;
  right: 168px;
  bottom: 33px;

}
.rating-form ul {
  list-style: none;
}
.search-results {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.search-results .hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around; 
}
.hotel-info h1{
 font-size: 21px;
}
.hotel-info span{
  color: #333333;
  line-height:21px;
  font-weight: normal; 
}
.hotel-info .button-blue,
.hotel-info .button-brown {
  line-height: 21px;
}
.hotel-rating {
  width: 110px;
  height: 27px; 
  color: #666666;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
}
/*Footer*/
.main-footer {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: rgba(249,251,246,0.9);
  display: flex;
  justify-content: space-between;
}
.hashtag {
  width: 400px;
}
.hashtag a{
  font-size: 21px;
}
.footer-social {
  width: 400px;
}
.footer-social ul {
  list-style: none;

}
.social-icons {
  width: 400px;
  display: flex;
  justify-content: center; 
}
.footer-copyright {
  font-weight: normal;
}

